.c--modal-a {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  display: grid; 
  place-items: center; 

  &--is-open {
    opacity: 1;
    pointer-events: auto;
  }

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    display: grid;
  place-items: center;
  }

  &__item {
    position: relative;
        background-color: #fff;
        padding: 1.5rem;
        border-radius: 8px;
        max-width: 500px;
        width: 90%;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
        text-align: left;

  }

  &__item h2 {
    margin-top: 0;
  }

  &__item button[data-modal-close] {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: .5rem;
    cursor: pointer;
    color: #666;

    &:hover {
      color: #000;
    }
  }
}


.c--btn-a{
  background:grey;
  display: inline-block;
  padding:5px 10px;
  color: white;
  text-decoration: none;
  &:hover{
    background: darkgrey;
  }
}